*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* color palette */
:root{
    --headercolor: #ff0000;
    --topmaincolor: #E1D67A ;
    --bottomMaincolor: #ABCFE7 ;
    --bottomMainBg:#0086FF ;
    --footercolor: #8801FE ;
    --maincolor: #ac3b3b;
    --secondarytext: #808080;

}


body{
    width: 1440px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.debug >header{
height: 200px;
background-color: var(--headercolor);
}
.debug >main{

    height: 1200px;
    background-color: var(--maincolor);

}
.debug >footer{
     margin-top: 40px;
    height: 50px;
    background-color: var(--footercolor);
}



header,
main{
    margin-bottom: 30px;
}


.logo{
    width: 200px;
    border-right: 2px solid rgb(167, 164, 164);
    padding-right: 20px;
}
.nav_bar{
   margin: 50px 0;
   object-fit: contain;

}
a{
    margin-left: 15px;
    text-decoration: none;
    color: var(--secondarytext);
    font-size: 20px;

}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.img-topmain{
     width: 100%;
     height: 600px;
     object-fit: cover;
     border-radius: 15px;
     filter: brightness(85%);

}

.top-main{
    position: relative;
    margin: 10px;
    
}

.img_text{
    position: absolute;
    left: 80px;
    bottom: 90px;
    color: white;
    font-size: 20px;
    
  }

.row{
    
    width: 100%;
    
}

.debug .row-header{
    height: 120px;
    background-color: var(--bottomMaincolor);
    
}

.row-header{
    float: left;
    width: 100%;
}
.debug .col,
.debug .col-g{
    height: 600px ;
    background-color: var(--bottomMaincolor);
    
}

.col,
.col-g{
    margin-top: 30px;
    float: left;
}

.col{
    width: 25%;
}
.col-g{ 
    width: 46%;
    margin: 30px 2%;

}